{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}InnoMVA: 주식회사 이노지투비{% endblock %}
{% block content %}
    <div class="container text-center jumbotron">
        <h2>InnoMVA: 주식회사 이노지투비</h2>
    </div>
    <div class="container">
        {% if user != None %}
            <div>{{ user.userid }}님 안녕?</div>
        {% else %}
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
            <div><a href="#">회원가입</a></div>
            {% if error != None %}
                <div class="has-error">
                    {{ error }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
